* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #131313;
    color: #fff;
}

#header {
    width: 100%;
    height: 50vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.container {
    padding: 5px 10%;
}

/* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */

/* .logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0px;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

} */

.header-text {
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;

}

.header-text h1 span {
    color: #ff004f;
}

/*---------------About-----------------------------*/
#about {
    padding: 10px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;

}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;

}

.sub-title {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 50%;

}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #f0306d;
    font-size: 20px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* --------------My services----------------------*/
#services {
    padding: 50px 0;
    margin-top: 30px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Adjust the minmax value as needed */
    gap: 60px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/*----------------My work------------------------------------------*/

#portfolio {
    background-color: #1a1a1a;
    padding: 50px 0;
    margin-top: 30px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .sub-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
} */
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.work {
    background: rgba(64, 63, 63, 0.655);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.work:hover {
    transform: translateY(-5px);
}

.work img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}


.work h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.buttons {
    margin-bottom: 15px;
}

.buttons button {
    background-color: #f0306d;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.work p {
    margin: 17px 0;
    font-size: 13px;
}

.links {
    margin-top: 10px;
}

.links a {
    color: #131313;
    background-color: aliceblue;
    padding: 8px 12px;
    margin: 5px 2px;
    border-radius: 20px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.links a:hover {
    background-color: #f8719c;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .work {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .work {
        width: 100%;
    }
}




/*-----------------contact--------------------*/
.contact-left {
    flex-basis: 35%;

}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 50px;
}


/* ---------------smalle screen----------    */

nav .fas {
    display: none;
}



@media(max-width:600px) {

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}